<html>
<head>
    <meta charset="UTF-8">
    <script src="simplepeer.min.js"></script>
    <script type="text/javascript">
     
        function doinit() {          
            alert(document.getElementById("myform").innerHTML);

            document.getElementById("myform").addEventListener('submit', function (ev) {
                //event("got here");
                ev.preventDefault();
                p.signal(JSON.parse(document.querySelector('#incoming').value));
            });
        }

        // get video/voice stream
        //navigator.getUserMedia({ video: true, audio: true }, gotMedia, function () { })

        var p = new SimplePeer({ initiator: false, trickle: false });

        p.on('error', function (err) { console.log('error', err) });

        p.on('signal', function (data) {
            console.log('SIGNAL', JSON.stringify(data));
            document.querySelector('#outgoing').textContent = JSON.stringify(data);
        });

        

        //p.on('connect', function () {
        //    console.log('CONNECT');
        //    p.send('whatever' + Math.random());
        //});

        //p.on('data', function (data) {
        //    console.log('data: ' + data);
        //});

        p.on('stream', function (stream) {
            // got remote video stream, now let's show it in a video tag
            var video = document.querySelector('#myvideo')
            video.src = window.URL.createObjectURL(stream)
            video.play()
        })


    </script>
</head>

<body onload="doinit();">
    <style>
        #outgoing {
            width: 600px;
            word-wrap: break-word;
        }
    </style>
    <form id="myform">
        <textarea id="incoming"></textarea>
        <button type="submit">submit</button>
    </form>
    <pre id="outgoing"></pre>
    <!--<script src="bundle.js"></script>-->

    <video id="myvideo" width="320" height="240" controls>
        
    </video>
</body>

</html>
